@model GameTrade.ViewModels.GameViewModel


<h1>@Model.Game.Title</h1>

<table class="table">

    <tr>
        
        <th>Platform</th>
        <th>Year</th>
        <th>GameCondition</th>
        <th>Value</th>

    </tr>

    
    <tr>
            
       <td>@Model.Game.System</td>
       <td>@Model.Game.Year</td>
       <td>@Model.Game.GameCondition</td>
       <td>$@Model.Game.Value</td>
    
    

    
        @if (User.Identity.IsAuthenticated)
        {
            if (GameTrade.Models.Extensions.GetUserID(User) == Model.Game.UserId)
            {
                <td><a asp-controller="List" asp-action="Edit" asp-route-id="@Model.Game.GameId">Edit</a></td>
            }

        }
        
    </tr>  
    
</table>

<div>
    @Model.Game.Description
</div>

