@model List<GameTrade.Models.Game>

<h1>@ViewBag.Title</h1>

<table class="table">

    <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Year</th>
        <th>GameCondition</th>
        <th>Value</th>

    </tr>

    @foreach (var game in Model)
    {
        <tr>
            <td>@game.Title</td>
            <td>@game.System</td>
            <td>@game.Year</td>
            <td>@game.GameCondition</td>
            <td>$@game.Value</td>

          <td><a asp-controller="List" asp-action="Edit" asp-route-id="@game.GameId">Edit</a></td> 
          <td><a asp-controller="List" asp-action="Game" asp-route-id="@game.GameId">View Game Info</a></td>
        </tr>
    }
</table>

<a href="/List/Add" class="button">Add a Game</a>
<a href="/List/LookupByTitle" class="button">Lookup Game by Title</a>

@if (Model.Count == 0)
{
    <a href="/List/Add" class="button">Add a Game</a>
}
