@model Tuple<IEnumerable<Game>, string>


<table class="table table-striped table-hover">

    <tr>
        <th>Title</th>
        <th>Platform</th>
        <th>Year</th>
        <th>GameCondition</th>
        <th>Value</th>
        <th> </th>

    </tr>

    @foreach (var game in Model.Item1)
    {

        <tr>
            <td>@game.Title</td>
            <td>@game.System</td>
            <td>@game.Year</td>
            <td>@game.GameCondition</td>
            <td>$@game.Value</td>
            <td><a asp-controller="List" asp-action="Game" asp-route-id="@game.GameId">View Game Info</a></td>
           
        </tr>
    }
</table>
<div class="btn-group">
    <a href="#" class="btn btn-primary">Sort By</a>
    <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/List/UserList?sort=Title&userId=@Model.Item2">Title</a></li>
        <li><a href="/List/UserList?sort=Platform&userId=@Model.Item2">Platform</a></li>
        <li><a href="/List/UserList?sort=Year&userId=@Model.Item2">Release Date</a></li>
        <li><a href="/List/UserList?sort=Value&userId=@Model.Item2">Value</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>
